<div id="hero" class="px-4 py-5 my-5 text-center" style="background-color: #CCC">
    <img class="d-block mx-auto mb-4" src="/res/aton-logo.png" height="100px" width="auto" alt="" >

    <h1 class="display-5 fw-bold">ATON Framework</h1>
</div>