<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" href="/res/aton-logo.png" sizes="512x512" type="image/png">

<!-- Add iOS meta tags and icons -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="ATON Framework">
<link rel="apple-touch-icon" href="/res/aton-logo.png">
<meta name="description" content="ATON Framework">

<title>ATON Framework</title>
<link rel="stylesheet" type="text/css" href="/vendors/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/res/css/main.css">

    <script type="text/javascript" src="/vendors/vendors.min.js"></script>
<script type="text/javascript" src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="/dist/THREE.bundle.js"></script>
<!-- <script type="module" src="/dist/ATON.min.js"></script> -->
<script type="module" src="/src/ATON.js"></script>

<script>
window.addEventListener( 'load', ()=>{
        ATON.realize2D();
        
        ATON.UI.setTheme("light");

        // Hero
        let elHero = document.getElementById("hero");
        if (elHero.children.length <= 0){
                ATON.UI.loadPartial("/common/hero.html",elHero);
        }

        // Staff pick
        let elStaffPick = document.getElementById("staffpick");

        elStaffPick.append(
                ATON.UI.createSceneCard({
                        title:"sample",
                        sid: "samples/welcome",
                        size: "large",
                        useblurtint: true
                })
        );
        elStaffPick.append(
                ATON.UI.createSceneCard({
                        title:"sample",
                        sid: "samples/skyphos",
                        size: "large",
                        useblurtint: true
                })
        );
        elStaffPick.append(
                ATON.UI.createSceneCard({
                        title:"montebelluna",
                        sid: "samples/montebelluna",
                        size: "large",
                        useblurtint: true
                })
        );

        // Apps
        let elApps = document.getElementById("apps");

        // Pub scenes
        let elPubScenes = document.getElementById("pubscenes");
        ATON.UI.createPublicScenesGallery({containerid: "pubscenes"});

        // Navbar
        let elNavCont = document.getElementById("navbarSupportedContent");
        elNavCont.append(ATON.UI.createLiveFilter({
                filterclass: "aton-scene-card",
                onfocus: ()=>{
                        elHero.style.display = "none";
                        elApps.style.display = "none";
                        //elStaffPick.style.display = "none";
                },
                onblur: ()=>{
                        elHero.style.display = "block";
                        elApps.style.display = "block";
                        //elStaffPick.style.display = "block";   
                }
        }));

        elNavCont.append(ATON.UI.createButton({
                icon: "user",
                text: "Login"
        }));
});
</script>
</head>

<body>
        <!-- Navbar -->
        <%- include('navbar'); %>

        <!-- Hero section -->
        <div style="margin-top: 40px;"></div>
        <div id="hero">
                <% if (!hero){ %>
                        <%- include('hero'); %> 
                <% } %>
        </div>
        

        <!-- Staff Pick -->
        <div id="staffpick" style="padding: 40px; text-align: center;">
                <h2>Staff Pick</h2>
                <hr>
        </div>

        <!-- Apps -->
        <div id="apps" style="padding: 40px; text-align: center;">
                <h2>Apps</h2>
                WebApps accessible on this instance<hr>
        </div>

        <!-- Public scenes -->
        <div id="pubscenes" style="padding: 40px; text-align: center;">
                <h2>Public Scenes</h2>
                3D content published by users<hr>
        </div>

        <div id="footer" class="aton-footer">
                <%- include('footer'); %>
        </div>
</body>