<!doctype html>
<html lang="en">

<head>
<%- include('frags/head'); %>

<script>
window.addEventListener( 'load', ()=>{
        ATON.realize2D();
        ATON.UI.setTheme("light");

        // Hero
        let elHero = document.getElementById("hero");
        if (elHero.children.length <= 0){
                console.log(elHero)
                ATON.UI.loadPartial("/common/hero.html","hero");
        }

        // Staff pick
        let elStaffPick = document.getElementById("staffpick");
        let elStaffPickBand = document.getElementById("staffpickband");

        // Apps
        let elApps = document.getElementById("apps");

        // Pub scenes
        let elPubScenes = document.getElementById("pubscenes");

        // Content
        ATON.REQ.get("scenes/", entries =>{

                for (let s in entries){
                        const S = entries[s];

                        if (S.staffpick) elStaffPickBand.append(
                                ATON.UI.createSceneCard({
                                        title: S.title,
                                        sid: S.sid,
                                        keywords: S.kwords,
                                        //size: "large",
                                        useblurtint: true
                                })
                        );
                }

                ATON.UI.createPublicScenesGallery({
                        containerid: "pubscenes",
                        //size:"small",
                        entries: entries,
                        <% if (samples) { %> samples: true <% } %>
                });

        });

        // Navbar
        let elNavCont  = document.getElementById("navbarSupportedContent");
        let elNavItems = document.getElementById("navbarItems");

        let elSearch = ATON.UI.createLiveFilter({
                filterclass: "aton-scene-card",
                onfocus: ()=>{
                        elHero.style.display = "none";
                        if (elApps) elApps.style.display = "none";
                        //elStaffPick.style.display = "none";
                },
                onblur: ()=>{
                        elHero.style.display = "block";
                        if (elApps) elApps.style.display = "block";
                        //elStaffPick.style.display = "block";   
                }
        })

        elNavCont.append(elSearch);

        let btnLogin = ATON.UI.createButton({
                icon: "bi-person",
                //icon: "user",
                text: "Login",
                onpress: ()=>{
                        window.location.href = "/v2/login"+"?u="+window.location.href;
/*
                        ATON.UI.showModal({
                                //header: "Login",
                                body: ATON.UI.createLoginForm({
                                        onSuccess: (r)=>{
                                                btnLogin.innerHTML = r.username;
                                                ATON.UI.hideModal()
                                        },
                                        onFail: ()=>{}
                                })
                        })
*/
                }

        });

        elNavCont.append(btnLogin);

        ATON.checkAuth(
                (u)=>{
                        console.log(u)

                        btnLogin.remove();
/*
                        btnLogin.replaceWith(ATON.UI.createButton({
                                icon: "bi-person",
                                //icon: "user",
                                text: u.username,
                                onpress: ()=>{
                                        //window.location.href = "/v2/login"+"?u="+window.location.href;
                                }
                        }));
*/

                        elNavCont.append( ATON.UI.createDropdown({
                                icon: "bi-person",
                                //align: "dropdown-menu-end",
                                title: u.username,
                                items: [
                                        { title: "My Scenes", url: "#", icon:"scene" },
                                        { title: "My Collection", url: "#", icon:"collection" },
                                        { title: "Logout", url: "/v2/logout", icon: "exit" }
                                ]
                        }));

                }
        );
});
</script>
</head>

<body style="padding-top:60px;">
        <!-- Navbar -->
        <%- include('frags/navbar'); %>

        <!-- <div style="margin-top: 40px;"></div>  -->

        <!-- Hero section -->
        <div id="hero">
                <% if (!customhero){ %>
                        <%- include('frags/hero'); %> 
                <% } %>
        </div>
        

        <!-- Staff Pick -->
        <div id="staffpick" style="padding: 40px; text-align: center;">
                <h2>Staff Pick</h2>
                <hr>
                <div id="staffpickband" class="aton-hscrollable" ></div>
        </div>

        <!-- Apps -->
        <% if (apps.length>0) { %>
        <div id="apps" style="padding: 40px; text-align: center;">
                <h2>Apps</h2>
                WebApps accessible on this instance<hr>
        </div>
        <% } %>

        <!-- Public scenes -->
        <div id="pubscenes" style="padding: 40px; text-align: center;">
                <h2>Public Scenes</h2>
                3D content published by users<hr>
        </div>

        <div id="footer" class="aton-footer">
                <%- include('frags/footer'); %>
        </div>
</body>