<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" href="/res/aton-logo.png" sizes="512x512" type="image/png">

<!-- Add iOS meta tags and icons -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="ATON Framework">
<link rel="apple-touch-icon" href="/res/aton-logo.png">
<meta name="description" content="ATON Framework">

<title>ATON Framework</title>
<link rel="stylesheet" type="text/css" href="/vendors/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/bootstrap/css/bootstrap-icons/font/bootstrap-icons.min.css">
<link rel="stylesheet" type="text/css" href="/res/css/main.css">

<script type="text/javascript" src="/vendors/vendors.min.js"></script>
<script type="text/javascript" src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="/dist/THREE.bundle.js"></script>
<!-- <script type="module" src="/dist/ATON.min.js"></script> -->
<script type="module" src="/src/ATON.js"></script>

<script>
window.addEventListener( 'load', ()=>{
        ATON.realize2D();
        
        ATON.UI.setTheme("light");

        // Hero
        let elHero = document.getElementById("hero");
        if (elHero.children.length <= 0){
                console.log(elHero)
                ATON.UI.loadPartial("/common/hero.html","hero");
        }

        // Staff pick
        let elStaffPick = document.getElementById("staffpick");
        let elStaffPickBand = document.getElementById("staffpickband");

        // Apps
        let elApps = document.getElementById("apps");

        // Pub scenes
        let elPubScenes = document.getElementById("pubscenes");

        // Content
        ATON.REQ.get("scenes/", entries =>{

                for (let s in entries){
                        const S = entries[s];

                        if (S.staffpick) elStaffPickBand.append(
                                ATON.UI.createSceneCard({
                                        title: S.title,
                                        sid: S.sid,
                                        keywords: S.kwords,
                                        //size: "large",
                                        useblurtint: true
                                })
                        );
                }

                ATON.UI.createPublicScenesGallery({
                        containerid: "pubscenes",
                        size:"small",
                        entries: entries,
                        <% if (samples) { %> samples: true <% } %>
                });

        });

        // Navbar
        let elNavCont = document.getElementById("navbarSupportedContent");
        elNavCont.append(ATON.UI.createLiveFilter({
                filterclass: "aton-scene-card",
                onfocus: ()=>{
                        elHero.style.display = "none";
                        if (elApps) elApps.style.display = "none";
                        //elStaffPick.style.display = "none";
                },
                onblur: ()=>{
                        elHero.style.display = "block";
                        if (elApps) elApps.style.display = "block";
                        //elStaffPick.style.display = "block";   
                }
        }));

        elNavCont.append(ATON.UI.createButton({
                icon: "bi-person",
                //icon: "user",
                text: "Login"
        }));

        ATON.UI.showModal({
                header: "Login",
                body: ATON.UI.createLoginForm({

                        })
        });
});
</script>
</head>

<body>
        <!-- Navbar -->
        <%- include('navbar'); %>

        <div style="margin-top: 40px;"></div>

        <!-- Hero section -->
        <div id="hero">
                <% if (!customhero){ %>
                        <%- include('hero'); %> 
                <% } %>
        </div>
        

        <!-- Staff Pick -->
        <div id="staffpick" style="padding: 40px; text-align: center;">
                <h2>Staff Pick</h2>
                <hr>
                <div id="staffpickband" class="aton-hscrollable" ></div>
        </div>

        <!-- Apps -->
        <% if (apps.length>0) { %>
        <div id="apps" style="padding: 40px; text-align: center;">
                <h2>Apps</h2>
                WebApps accessible on this instance<hr>
        </div>
        <% } %>

        <!-- Public scenes -->
        <div id="pubscenes" style="padding: 40px; text-align: center;">
                <h2>Public Scenes</h2>
                3D content published by users<hr>
        </div>

        <div id="footer" class="aton-footer">
                <%- include('footer'); %>
        </div>
</body>