<!doctype html>
<html lang="en">

<head>
<%- include('frags/head'); %>

<script>
window.addEventListener( 'load', ()=>{
        ATON.realize2D();
        ATON.UI.setTheme("light");

        const params = new URLSearchParams( window.location.search );

        let elForm = document.getElementById("loginform");

        elHeader = ATON.UI.createElemementFromHTMLString(`<img src="/res/aton-logo.png" style="width:100px; height:auto; margin-bottom:20px">`);

        elForm.append(
            ATON.UI.createLoginForm({
                header: elHeader,
                onSuccess: (r)=>{
                    let url = params.get("u");
                    if (url) window.location.href = url;
                    else window.location.href = "/v2";
                },
                onFail: ()=>{}
            })
        );
});
</script>
</head>

<body>
    <!-- Navbar

    <div style="margin-top: 40px;"></div>
-->

    <form id="loginform" style="max-width: 400px; margin: auto; padding: 40px;"></form>
  
    <div id="footer" class="aton-footer">
            <%- include('frags/footer'); %>
    </div>
</body>