<!doctype html>
<html lang="en">

<head>
<%- include('frags/head'); %>

<script>
window.addEventListener( 'load', ()=>{
        ATON.realize2D();
        ATON.UI.setTheme("light");

        // Navbar
        let elNavCont  = document.getElementById("navbarSupportedContent");
        let elNavItems = document.getElementById("navbarItems");

        elNavItems.append(ATON.UI.createElementFromHTMLString("<b>My Scenes</b>"));

        let elSearch = ATON.UI.createLiveFilter({
                filterclass: "aton-scene-card",
                onfocus: ()=>{

                },
                onblur: ()=>{

                }
        })

        elNavCont.append(elSearch);

        // My scene gallery
        let elMyScenes = document.getElementById("myscenes");
        ATON.checkAuth(
                (u)=>{
                        elNavCont.append( SHU.createMainAuthDropdown(u,"myscenes") );

                        ATON.REQ.get("scenes/"+u.username, entries => {
                                entries.sort( ATON.UI.SCENES_SORTER );               
                                console.log(entries);
                        
                                for (let scene of entries){
                                        const elFooter = ATON.UI.createElementFromHTMLString(`
                                                <div class="align-items-center justify-content-center">
                                                </div>
                                                `
                                        );

                                        elFooter.append(ATON.UI.createButton({
                                                icon: "bi-gear-fill",
                                                text: "Manage",
                                                onpress: ()=>{
                                                        sceneSettings(scene.sid);
                                                }
                                        }));
                        
                                        let card = ATON.UI.createSceneCard({
                                                title: scene.title? scene.title : scene.sid,
                                                sid: scene.sid,
                                                keywords: scene.kwords,
                                                footer: elFooter,
                                                useblurtint: true,
                                                //size: ...
                                        });
                
                                        elMyScenes.append(card);
                                }
                        });
                }
        );

        // Scene settings
        let sceneSettings = (sid)=>{
                const elBody = ATON.UI.createElementFromHTMLString(`
                        <div>Here settings</div>
                `);

                ATON.UI.showModal({
                        header: sid,
                        body: elBody
                });
        };
        
});
</script>
</head>

<body style="padding-top:60px;">
        <!-- Navbar -->
        <%- include('frags/navbar'); %>

        <div id="myscenes" style="padding: 20px; text-align: center;"></div>
</body>