<!doctype html>
<html lang="en">

<head>
<%- include('frags/head'); %>

<script>
window.addEventListener( 'load', ()=>{
        ATON.realize2D();
        ATON.UI.setTheme("light");

        // Navbar
        let elNavCont  = document.getElementById("navbarSupportedContent");
        let elNavItems = document.getElementById("navbarItems");

        //elNavItems.append(ATON.UI.createElementFromHTMLString("<b>My Scenes</b>"));

        let elSearch = ATON.UI.createLiveFilter({
                filterclass: "aton-scene-card",
                onfocus: ()=>{

                },
                onblur: ()=>{

                }
        })

        elNavCont.append(elSearch);

        // My scene gallery
        let elMyScenes = document.getElementById("myscenes");
        ATON.checkAuth(
                (u)=>{
                        elNavCont.append( SHU.createMainAuthDropdown(u,"myscenes") );

                        ATON.REQ.get("scenes/"+u.username, entries => {
                                entries.sort( ATON.UI.SCENES_SORTER );               
                                console.log(entries);

                                ATON.UI.get("numscenes").innerHTML = entries.length;

                                let years = {};
                        
                                for (let scene of entries){
                                        const elFooter = ATON.UI.createElementFromHTMLString(`
                                                <div class="align-items-center justify-content-center">
                                                </div>
                                                `
                                        );

                                        let YYYY = new Date(scene.creationDate).getFullYear();
                                        if (!years[YYYY]){
                                                years[YYYY] = 1;
                                                elMyScenes.append(ATON.UI.createElementFromHTMLString(`
                                                <div class="shuSectionTitleContainer" style="text-align: left;">
                                                        <b>${YYYY}</b>
                                                </div>
                                                `));
                                        }
                                        else years[YYYY]++;

                                        elFooter.append(ATON.UI.createButton({
                                                icon: "bi-gear-fill",
                                                text: "Manage",
                                                onpress: ()=>{
                                                        sceneSettings(scene.sid);
                                                }
                                        }));
                        
                                        let card = ATON.UI.createSceneCard({
                                                title: scene.title? scene.title : scene.sid,
                                                sid: scene.sid,
                                                keywords: scene.kwords,
                                                footer: elFooter,
                                                useblurtint: true,
                                                //size: ...
                                        });
                
                                        elMyScenes.append(card);
                                }
                        });
                }
        );

        // Scene settings
        let sceneSettings = (sid)=>{
                const elBody = ATON.UI.createElementFromHTMLString(`
                        <div>Here settings</div>
                `);

                ATON.UI.showModal({
                        header: sid,
                        body: elBody
                });
        };
        
});
</script>
</head>

<body>
        <!-- Navbar -->
        <%- include('frags/navbar'); %>

        <div id="myscenes" class="shuGalleryContainer">
                <div class="shuSectionTitleContainer" style="text-align: left;">
                        <h2>My Scenes</h2>
                        Total: <span id="numscenes">0</span>
                </div>
        </div>
</body>