#################################
#   NodeJS gitignore
#################################

node_modules
record
_prv
*.psd

.env
ATON.config.json

/build
/wapps
/shu

# reserved cloud project folder
/collection/cloud/