<!--
<div class="px-4 py-5 my-5 text-center" style="background-color: #CCC">
    <img class="d-block mx-auto mb-4" src="/res/aton-logo.png" height="100px" width="auto" alt="" >

    <h1 class="display-5 fw-bold">ATON Framework</h1>
</div>


-->

<div style="background-color: var(--bs-secondary-bg);">
    <div class="container col-xxl-8 px-4 py-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6 align-items-center">
                <img src="/res/aton-logo.png" class="d-block mx-lg-auto img-fluid" loading="lazy" style="width:50%; height:auto; max-width:200px;">
            </div>

            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">ATON framework</h1>
                <p class="lead">Welcome on ATON framework. </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a type="button" class="btn btn-secondary btn-lg px-4" href="https://aton.ispc.cnr.it/site/">Website</a>
                    <a type="button" class="btn btn-secondary btn-lg px-4" href="https://aton.ispc.cnr.it/examples">Examples</a>
                </div>
            </div>
        </div>
    </div>
</div>