/*
    Main cascading ATON CSS (v2) applied after Bootrap

    Authors:
    - Bruno Fanini (bruno.fanini++AT++cnr.it)

====================================================================*/

@font-face {
    font-family: 'AFont';
    font-style: normal;
    src: url(../fonts/TitilliumWeb-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
:root {
    --bs-primary: orange;
    --bs-success: #198754;
}
*/

/*=========================================
    Base
=========================================*/

body {
    margin: 0px;
    padding: 0px;
    border: none;

    width: 100%;
    height: 100%;

    overflow: hidden;

    /*font-size: 18px !important;*/

    /*font-family: Tahoma, Verdana, Geneva;*/
    /*font-family: 'Segoe UI Local', 'Segoe UI Web (West European)';*/
    
    font-family: "AFont" !important;

    touch-action: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

/*
    scrollbar-width: thin;
    scrollbar-color: #FFF #333;
*/
}

canvas {
    display: block;

    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    border: none;
    outline: none;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
/*
    cursor: default;
    cursor: -moz-default;
    cursor: -webkit-default;
*/
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

/*
    touch-action: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
*/
}

canvas:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/*=========================================
    ATON cascading classes (aton-*)
    to be applied on top of bootstrap 5
=========================================*/
.aton-centered-container {
    position: absolute;
    z-index:10;

    margin: auto;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    display:inline-block;
    pointer-events: none;
}

.aton-floating-label-container {
    position: fixed;
    z-index: 10;

    text-align: center;

    display: inline-block;
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    pointer-events: none;
}

.aton-floating-label {
    display: inline-block;

    text-align: center;
    /*font-size: larger;
    vertical-align: middle;*/
    line-height: 0px;

    color: var(--bs-body-color);

    background-color: rgba(var(--bs-body-bg-rgb), 0.7);
    border-radius: 10px;

    box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);

    /*backdrop-filter: blur(6px);*/

    padding: 15px;
    margin: 0px;

    height: 30px;
    min-width: 60px;
    min-height: 32px;

    /*transform-origin: top;*/
}


.aton-spinner {
    width: 3rem;
    height: 3rem;
}

.aton-icon-small {
    width: 18px;
    height: 18px;
}

.aton-top-toolbar {
    top: 0px;
    width: 100%;
    position: fixed;
    
    background-color: rgba(var(--bs-body-bg-rgb), 0.7) !important;
    backdrop-filter: blur(6px);
}

.aton-std-bg {
    background-color: rgba(var(--bs-body-bg-rgb), 0.7) !important;
    backdrop-filter: blur(6px);  
}

/* Input XYZ */
.aton-input-x {
    border-color: rgba(255,0,0, 0.2);
    /*background-color: rgba(255,0,0, 0.1) !important;*/
}
.aton-input-y {
    border-color: rgba(0,255,0, 0.2);
    /*background-color: rgba(0,255,0, 0.1) !important;*/
}
.aton-input-z {
    border-color: rgba(0,0,255, 0.2);
    /*background-color: rgba(0,0,255, 0.1) !important;*/
}

.aton-btn img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.aton-tab img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

/* Trees */
.aton-tree-container {
    padding: 0px;
}

.aton-tree-item {
    margin-left: 0px;
    
    margin-top: 5px;
    margin-bottom: 5px;
}

.aton-tree-item summary {
    padding: 5px;

    font-weight: bold;
    background-color: rgba(var(--bs-body-bg-rgb), 0.5);
    /*border-left: solid var(--bs-body-color) 1px;*/

    border-radius: var(--bs-border-radius-sm);

    /*line-height: 20px;*/

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.aton-tree-item summary:hover {
    background-color: rgba(var(--bs-body-bg-rgb), 1.0);
}

.aton-tree-item summary::marker {
    font-size: 1.2em;
    /*color: var(--bs-primary);*/
}

.aton-tree-item-content {
    margin-left: 10px;
    margin-top: 5px;

    padding-left: 10px;
    border-left: dotted var(--bs-body-color) 2px;
}

.aton-scene-card {
    display: inline-block;
    position: relative;

    margin: 2px;
    width: 200px;

    background-color: rgba(var(--bs-body-bg-rgb), 0.7);
    /*border: 0px;*/
}

.aton-scene-card-bg {
    position: absolute;

    left: 0;
    top:0;

    z-index: -10;
    /*
    display: block;
    */
    /*background-image: url();*/

    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*background-color: rgba(0, 0, 0, 0.5);*/
    opacity: 0.7;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);

}